# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.nyc_output

# production
/build
.out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs and runtime data
logs
*.log
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.lcov
.grunt
.lock-wscript
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm and eslint caches
.npm
.eslintcache
.stylelintcache

# Microbundle and REPL history
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history

# Output of 'npm pack' and Yarn Integrity file
*.tgz
.yarn-integrity

# Parcel and Next.js build outputs
.cache
.parcel-cache
.next
.nuxt
dist
.vuepress/dist

# Gatsby and Docusaurus files
.cache/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*